{%extends "listing/base.html"%}
{%block content%}

{% for p in my_listings %}
<img src="{{p.image.url}}" /><br /> 
{% endfor %}

<h2> Edit your listing </h2>
<div class="col-md-8 offset-md-2">
<form class="text-center border border-light p-5" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input class="form-control mb-4" placeholder="Artwork Title" type="text" name="title" value="{{listing.title}}" />
    {{form.title.errors}}
  <textarea class="form-control mb-4" type="text" name="descrip">{{listing.descrip}}</textarea>
    {{form.descrip.errors}} 
  <input class="form-control mb-4" placeholder="New Price" type="text" name="price" value="{{listing.price}}"/>
    {{form.price.errors}}
  <input class="form-control mb-4" placeholder="Stock" type="text" name="stock" value="{{listing.stock}}" />
    {{form.stock.errors}}
<input type="submit" />
</form>
</div>




{%endblock%}