{% extends 'listing/base.html' %}

{%block content%}
{% load static %}
<!doctype html>
<html>
<body>
  <a type="button" href='/listing/newlisting' class="btn btn-primary btn-block btn-success">New Listing</a>
  <div class="container">

  <div class="card-columns">
  {% for p in all_listings %}
    <div class="card">
    
    <img class="card-img-top img-fluid" style="object-fit:cover width:100% height:15vw;" src="{{p.image.url}}" />

    <div class="card-body">
    <a href="{% url 'listing_detail' pk=p.pk %}"><h5 class="card-title">{{p.title}}</h5></a>
    <p class="card-text"><small class="text-muted">
    Artist: {{p.owner.username}} | {{p.created}}
    </p></small>
    <a type="button" class="btn btn-info" href="{% url 'listing_detail' pk=p.pk %}">View Details</a>
    </div>
    </div>


  {% endfor %}
  </div>
  </div>
</body>


{% if username %}
  Hi, {{username}} 
{% endif %}
{% endblock %}


