{% extends 'listing/base.html' %}

{%block content%}
{% load static %}
<!doctype html>
<html>
<head>
  
</head>
<body>
<div class="jumbotron">
  <div class="container">
  <div class="row">

  {% if listing %}
  <div class="col">
    <img src="{{listing.image.url}}" class="img-fluid" />
  </div>
  <div class="col-6">
    Author: {{listing.owner.username}} | {{listing.created}}<br />
    <h1>{{listing.title}}</h2>
    Description: {{listing.descrip}} <br /> 
    Medium: {{listing.medium}}<br />
    Dimensions:  {{listing.dimensions1}} x  {{listing.dimensions2}}  {{listing.unit}} <br/>
    Stock: {{listing.stock}}<br /> 
    <h5>Price {{listing.price}}</h5>
    {% comment %} <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      Quantity: <input type="" name="quantity" content="0"/><br /> 
      <input type="submit" />
    </form> {% endcomment %}
    {%if user.is_authenticated %}
      {%if out_of_stock%}
        <button type="button" class="btn btn-secondary" disabled><i>Out of Stock</i></button>
      {% else %}
        <a type="button" class="btn btn-success" href="{% url 'shopping_cart:addtocart' pk=listing.pk %}">Add to Cart</a>
        <a type="button" class="btn btn-info" href="{% url 'chat:chatroom' user=listing.owner.username%}">Message Artist</a>
      {%endif%}
    {% else %}
      <a type="button" class="btn btn-success" href="{% url 'account:login' %}">Login to add to cart</a>
    {% endif %}
    </div>
  {% endif %}
  </div>
  </div> 
  </div>
</body>
{% endblock %}


