
{%extends "listing/base.html"%}
{%block content%}

{% if currentcart %}
<h1>{{user}}'s Cart</h1>
{% else %}
<h1>{{user}}'s Order #{{order_num}}</h1>
{% endif %}
Order # {{order_num}} <br/>
<ul class="list-group">
{% for i in user_order %}
<li class="list-group-item">
<div class="container">
<div class="row">
  <div class="col-sm-2">
  <img src="{{i.product.image.url}}" class = "img-responsive" width = "100%" />
  </div>
  <div class="col">
  <h1>{{i.product.title}}</h1>
  Added {{i.date_added}}<br/>
  Price: ${{i.product.price}} <br/>
  </div>
  
  {% if currentcart %}
  <div class="col my-auto">
  <a type="button" class="btn btn-danger" href="{% url 'shopping_cart:deletefromcart' pk=i.pk %}">Delete From Cart</a>
  </div>
  {% endif %}
<div class="row">
</div>
</li>
{% endfor %}
</ul>
<br/>
<h2>Subtotal: {{total}} CAD </h2><br/>
{% if order_num %}

{% if currentcart %}
<a type="button" class="btn btn-warning" href="{% url 'payment:getaddress'%}">Checkout Now</a>

  
  {% endif %}
{% else %}
Your cart is looking empty :(
{% endif %}
{% endblock %}