
{%extends "listing/base.html"%}
{%block content%}

<h1>{{user}}'s Cart</h1>
<ul class="list-group">
{% for i in user_order %}
<li class="list-group-item">
  <img src="{{i.product.image.url}}" class="rounded float-left cartthumbnail" />

  <h1>{{i.product.title}}</h1>
  Added {{i.date_added}}<br/>

  Price: ${{i.product.price}} <br/>
  <a type="button" class="btn btn-danger" href="{% url 'shopping_cart:deletefromcart' pk=i.pk %}">Delete From Cart</a>
</li>
{% endfor %}
</ul>
Total: {{total}} CAD <br/>

<a type="button" class="btn btn-warning" href="{% url 'payment:pay'%}">Checkout Now</a>
{% if order_num %}
  Order # {{order_num}} <br/>
{% endif %}
{% endblock %}