{%extends "listing/base.html"%}
{%block content%}
<div class="col-md-8 offset-md-2">
<br/>
<form action="" method="post" enctype="multipart/form-data">

<h5>Subtotal: $ {{ order.get_cart_total|floatformat:"2" }}</h5>
<h6>Tax: $ {{ order.get_tax_total|floatformat:"2" }}</h6>
<h3>Grand total: $ {{ order.get_grand_total|floatformat:"2" }}</h3>

{% csrf_token %}
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-description="Total"
    data-amount=int(round({{ amt }}*100))
    data-locale="auto">
</script>
</form>

<form class="text-center border border-light p-5" action="" method="post" id="payment-form">
  <div class="form-row">
    <label for="card-element">
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

</form>
</div>
{%endblock%}